<nav class="app-nav-bar">
  <ul class=" nav nav-tabs nav-justify flex-column ">
    <li class="nav-item " routerLinkActive="active">
      <a class="nav-link " routerLink="about">
        <span class="ion ion-md-home"></span> &nbsp; About </a>
    </li>
    <li class="nav-item " routerLinkActive="active">
      <a class="nav-link " routerLink="photos">
        <span class="ion ion-md-images"></span> &nbsp; Photos</a>
    </li>
    <li class="nav-item " routerLinkActive="active">
      <a class="nav-link pr-1 " routerLink="admin/users">
        <span class="ion ion-md-people"></span> &nbsp; Users </a>
    </li>
  </ul>
</nav>
