<section title="add user" class="col-6 cl-sm-6 pl-0 ">
  <div class="card ">
    <div class="card-body">
      <h5 class="card-title">Add User</h5>
      <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">

        <div class="form-group form-inline ">
          <label for="userName">name</label>
          <input type="text" id="userName" class="form-control form-control-sm ml-1" formControlName="name">

        </div>
        <ng-container *ngIf="name.invalid && name.touched">
          <span class="error-message "> name is required </span>
        </ng-container>

        <div class="form-group form-inline my-0.25 ">
          <label for="userEmail">Email</label>
          <input type="email" id="userEmail" class="form-control form-control-sm ml-1" formControlName="email" placeholder="you@gmail.com">
        </div>
        <ng-container *ngIf="email.invalid && email.touched">
          <span *ngIf="email.errors.required" class="error-message "> email is required </span>
          <span *ngIf="email.errors.email" class="error-message "> email is incorrect </span>
        </ng-container>

        <div class="form-group form-inline my-0.25 ">
          <label for="userRole">Role:</label>
          <select id="userRole" formControlName="role" class="form-control form-control-sm ml-1">
            <option value="user">User</option>
            <option value="admin">admin</option>
          </select>
        </div>


        <button class="btn btn-success btn-sm mt-1" [disabled]="addUserForm.invalid">add user</button>
      </form>
    </div>
  </div>
  <hr>
</section>
